.main_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    background-color: white;
    width: 70%;
    padding: 2%;
    border-radius: 15px;
}

.filterInput {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dddddd;
    border: 1px solid rgb(0 0 0 / 7%);
    padding: 3.5%;
    outline: none;
    font-size: 19px;
    border-radius: 8px;
}

.pokemon_main_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.pokemon_boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 95, 255);
    color: white;
    font-weight: 500;
    font-size: 18px;
    font-family: sans-serif;
    text-transform: capitalize;
    width: 150px;
    padding: 2%;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}

.pokemon_box:hover {
    box-shadow: -1px 2px 3px 1px #00000070;
}