.main_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    background-color: white;
    width: 70%;
    padding: 2%;
    border-radius: 15px;
}

.pokemon_box {
    background-color: rgb(51, 95, 255);
    color: white;
    width: 150px;
    padding: 2%;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}

.pokemon_box:hover {
    box-shadow: -1px 2px 3px 1px #00000070;
}